@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf');
}
@font-face {
    font-family: 'Open sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}